<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="douyu_ex_websocket.js" type="text/javascript" charset="utf-8"></script>
		<script src="vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="element-ui.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="element-ui.css" />
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div id="app">
			<div id="room-info">
				<label class="el-form-item__label" for="room_id">房间号</label>
				<el-input v-model="room_id" id="room_id" placeholder="请输入房间号"></el-input>
				<el-button @click="doWebsocket()" :type="ws_lock ? 'primary' : ''" v-text="ws_lock ? '暂停读取弹幕' : '开始读取弹幕'"></el-button>
				<div class="ws-success" v-show="ws_lock">
					<div></div>
					已开启连接
				</div>
			</div>
			<el-divider></el-divider>
			<el-input v-model="add_user" placeholder="手动添加用户(回车键确认)" @keyup.enter.native="addUser"></el-input>
			<div id="prize-users">
				<el-tag v-for="user in users" closable @close="deleteUser(user)" :disable-transitions="true">
					<span v-text="user"></span>
				</el-tag>
			</div>
			<div class="users-length" v-text="'参与抽奖人数:' + users.length"></div>
			<el-divider></el-divider>
			<div id="title-info">
				<label class="el-form-item__label" for="title_name">标题名称</label>
				<el-input v-model="title_name" id="title_name" placeholder="请输入标题名称(竖线键 | 代表换行)"></el-input>
			</div>
			<div id="prize-info">
				<label class="el-form-item__label" for="prize_name">奖品名称</label>
				<el-input v-model="prize_name" id="prize_name" placeholder="请输入奖品"></el-input>
				<label class="el-form-item__label" for="prize_length">中奖人数</label>
				<el-input v-model="prize_length" id="prize_length" placeholder="请输入中奖人数"></el-input>
				<el-button type="success" @click="dialogVisible=true">开始抽奖</el-button>
			</div>
			<el-divider></el-divider>

			<el-dialog :visible.sync="dialogVisible" :fullscreen="true" :close-on-press-escape="false" :close-on-click-modal="false"
			 :before-close="handleClose">
				<div id="dialog-tip" class="dialog-tip" v-show="!prize_lock">按下空格开始\停止抽奖</div>
				<div id="prizeed-users" v-show="prize_lock">
					<p class="prizeed-title" v-html="formatTitle(title_name)"></p>
					<p class="prizeed-prize" v-text="prize_name + '(' + prize_length + ')'"></p>
					<div class="prizeed-list">
						<div v-for="user in prize_users" v-text="user" class="prizeed-user">
						</div>
					</div>
				</div>
			</el-dialog>
		</div>
	</body>
</html>

<script type="text/javascript">
	const getUrlParams = () => {
		const urlSearchParams = new URLSearchParams(window.location.search);
		const params = Object.fromEntries(urlSearchParams.entries());
		return params;
	}

	document.addEventListener('keyup', handleKeyUp);
	document.addEventListener('keydown', handleKeyDown);

	function handleKeyDown(event) {
		const keyCode = event.keyCode || event.which;
		if (keyCode == 32 && app.dialogVisible && app.prize_lock) {
			app.doPrizeDone();
		}
	}

	function handleKeyUp(event) {
		const keyCode = event.keyCode || event.which;
		if (keyCode == 32 && app.dialogVisible && !app.prize_lock) {
			app.doPrize();
		}
	}

	let interval;
	let app = new Vue({
		el: '#app',
		data: {
			ws_lock: false,
			prize_lock: false,
			room_id: '',
			add_user: '',
			prize_name: '',
			prize_length: '',
			title_name: '',
			users: [],
			dialogVisible: false,
			prize_users: []
		},
		mounted() {
			setTimeout(() => {
				app.room_id = getUrlParams().room_id;
				app.prize_name = localStorage.getItem('prize_name') ? localStorage.getItem('prize_name') : '';
				app.prize_length = localStorage.getItem('prize_length') ? localStorage.getItem('prize_length') : '';
				app.title_name = localStorage.getItem('title_name') ? localStorage.getItem('title_name') : '';
			}, 0);
		},
		methods: {
			doWebsocket(e) {
				app.ws_lock = !app.ws_lock;
				if (app.ws_lock) {
					new Ex_WebSocket_UnLogin(app.room_id, (msg) => {
						if (msg.startsWith('type@=chatmsg')) {
							console.log(msg)
							handleMsg(msg);
						}
					});
				}
				const handleMsg = (user) => {
					if (!app.ws_lock) {
						return false;
					}
					let name;
					user.split('/').forEach(m => {
						if (m.startsWith('nn@=')) {
							name = m.split('=')[1];
						}
					});
					if (!app.users.includes(name)) {
						app.users.push(name);
					}
				}
			},
			addUser() {
				if (!app.users.includes(app.add_user)) {
					app.users.push(app.add_user.trim());
				}
				app.add_user = '';
			},
			deleteUser(user) {
				this.users.splice(this.users.indexOf(user), 1);
			},
			handleClose(done) {
				app.prize_lock = false;
				app.prize_users = [];
				clearInterval(interval);
				done();
			},
			doPrize() {
				if (!/^[1-9]\d*$/.test(app.prize_length.trim())) {
					this.$message.error('“中奖人数”格式不正确。');
					return;
				}
				if (app.users.length == 0) {
					this.$message.error('抽奖用户列表为空。');
					return;
				}

				app.prize_lock = true;
				interval = setInterval(() => {
					let shuffledArray = app.users.slice();
					for (let i = shuffledArray.length - 1; i > 0; i--) {
						const j = Math.floor(Math.random() * (i + 1));
						[shuffledArray[i], shuffledArray[j]] = [shuffledArray[j], shuffledArray[i]];
					}
					app.prize_users = shuffledArray.slice(0, app.prize_length);
				}, 20);


				localStorage.setItem('prize_name', app.prize_name);
				localStorage.setItem('prize_length', app.prize_length);
				localStorage.setItem('title_name', app.title_name);
			},
			doPrizeDone() {
				clearInterval(interval);
			},
			formatTitle(title) {
				return title.replaceAll('|', '<br>');
			}
		}
	});
</script>
