<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="douyu_ex_websocket.js" type="text/javascript" charset="utf-8"></script>
		<script src="vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="element-ui.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="element-ui.css" />
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div id="app">
			<div id="room-info">
				<label class="el-form-item__label" for="room_id">房间号</label>
				<el-input v-model="room_id" id="room_id" placeholder="请输入房间号"></el-input>
				<el-button @click="doWebsocket()">开始读取弹幕</el-button>
				<div class="ws-success" v-show="ws_lock">
					<div></div>
					已开启连接
				</div>
			</div>
			<el-divider></el-divider>
			<el-input v-model="add_user" placeholder="手动添加用户(回车键确认)" @keyup.enter.native="addUser"></el-input>
			<div id="prize-users">
				<el-tag v-for="user in users" closable @close="deleteUser(user)">
					<span v-text="user"></span>
				</el-tag>
			</div>
			<div class="users-length" v-text="'参与抽奖人数:' + users.length"></div>
			<el-divider></el-divider>
			<div id="title-info">
				<label class="el-form-item__label" for="title_name">标题名称</label>
				<el-input v-model="title_name" id="title_name" placeholder="请输入标题名称"></el-input>
			</div>
			<div id="prize-info">
				<label class="el-form-item__label" for="prize_name">奖品名称</label>
				<el-input v-model="prize_name" id="prize_name" placeholder="请输入奖品"></el-input>
				<label class="el-form-item__label" for="prize_length">中奖人数</label>
				<el-input v-model="prize_length" id="prize_length" placeholder="请输入中奖人数"></el-input>
				<el-button type="success" @click="dialogVisible=true">开始抽奖</el-button>
			</div>


			<el-dialog :title="title_name + ' - ' + prize_name + ' * ' + prize_length" :visible.sync="dialogVisible" :fullscreen="true"
			 :close-on-press-escape="false" :close-on-click-modal="false">
				<div class="dialog-tip" v-show="!prize_lock" @keydown="doPrize">按下空格开始\停止抽奖</div>
				<div id="prizeed-users">
					<el-tag v-for="user in prize_users" type="success">
						<span v-text="user"></span>
					</el-tag>
				</div>
			</el-dialog>
		</div>
	</body>
</html>

<script type="text/javascript">
	function getUrlParams() {
		const urlSearchParams = new URLSearchParams(window.location.search);
		const params = Object.fromEntries(urlSearchParams.entries());
		return params;
	}

	document.addEventListener('keyup', handleKeyUp);
	document.addEventListener('keydown', handleKeyDown);

	function handleKeyDown(event) {
		const keyCode = event.keyCode || event.which;
		if (keyCode == 32 && app.dialogVisible && app.prize_lock) {
			app.doPrizeDone();
		}
	}

	function handleKeyUp(event) {
		const keyCode = event.keyCode || event.which;
		if (keyCode == 32 && app.dialogVisible && !app.prize_lock) {
			app.doPrize();
		}
	}

	let interval;
	let app = new Vue({
		el: '#app',
		data: {
			ws_lock: false,
			prize_lock: false,
			room_id: '',
			add_user: '',
			prize_name: '',
			prize_length: '',
			title_name: '',
			users: ['可怕的小耗子', 'ASD力量', '夜麻麻出街尸阿烂屎', '0不如回家去养猪0', '相知92376', '用户9988158056', '火火里同学', 'IrenezQAQ', 'IMP的粉',
				'猪圈里的帅猪', '陪腻度过漫长岁月', '怡宝20954', 'Miracles02', 'Da副', '迈妮', '冠绝天下的猪', '红油皮蛋南瓜粥', '用户270356273', '5520ca',
				'0不如回家去养猪0', 'alansdennyc', '始于初见123止于终老', '大大大大的delevin', '用户82657819', '松124567', '卑鄙小建', '浮世万仟', '用户43411197',
				'地球球球球', '动心忍性333', '实名制上网冲浪', '枯叶灵风', '0不如回家去养猪0', '别问问就多余', '用户8821971696', '老师的菊花眼', 'Kevin513727', '司机小杨',
				'冰岛塞拉斯', '风儿丶吹啊吹', '用户77137188', '是这样的啊1', '床起不了一点', '主播最帅快回答我问题', '雲遊小豬皮', '柠乐大傻妞', 'alansdennyc', '0不如回家去养猪0',
				'可可的小千梵', 'BIAO子必须死', '宝塔镇大猫62731', '自闭的小记忆', '小贼OvO', '小不点儿的文子', '丶浅念丶', '摆烂综合体', '0不如回家去养猪0', 'i张他K', '璀璨星光1',
				'快乐冒菜', 'Wiokiz', '头发的事先放一边', '请喊我弟弟', 'GiuseppeRossi47', '呜呜呜221', '我来看不用流量', 'HUIMEILI', 'jokel123',
				'孤寂而漫长的人生', '微微一点很销魂', '凉薄先生丷', '0不如回家去养猪0', 'alansdennyc', '别莱无样', 'tmerlim', '八神和嘉儿', '今天上班了吗', '0不如回家去养猪0',
				'Alan无法度', '极地儒雅家', '喜欢爱演的吗喽', '用户43411197', 'sosomelon', '你斗筆嗎'
			],
			dialogVisible: false,
			prize_users: [],

		},
		mounted() {
			setTimeout(() => {
				app.room_id = getUrlParams().room_id;;
			}, 0);
		},
		methods: {
			doWebsocket(e) {
				if (!app.ws_lock) {
					new Ex_WebSocket_UnLogin(app.room_id, (msg) => {
						if (msg.startsWith('type@=chatmsg')) {
							msg.split('/').forEach(m => {
								if (m.startsWith('nn@=')) {
									app.users.push(m.split('=')[1]);
								}
							});
						}
					});
				}
				app.ws_lock = true;
			},
			addUser() {
				app.users.push(app.add_user);
				app.add_user = '';
			},
			deleteUser(user) {
				this.users.splice(this.users.indexOf(user), 1);
			},
			doPrize() {
				interval = setInterval(() => {
					let shuffledArray = app.users.slice();
					for (let i = shuffledArray.length - 1; i > 0; i--) {
						const j = Math.floor(Math.random() * (i + 1));
						[shuffledArray[i], shuffledArray[j]] = [shuffledArray[j], shuffledArray[i]];
					}
					app.prize_users = shuffledArray.slice(0, app.prize_length);
				}, 20);
				app.prize_lock = true;
			},
			doPrizeDone() {
				clearInterval(interval);
			}
		}
	});
</script>
