<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="douyu_ex_websocket.js" type="text/javascript" charset="utf-8"></script>
		<script src="vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="element-ui.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="element-ui.css" />
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div id="app">
			<div id="room-info">
				<label class="el-form-item__label" for="room_id">房间号</label>
				<el-input v-model="room_id" id="room_id" placeholder="请输入房间号"></el-input>
				<el-button @click="doWebsocket()">开始读取弹幕</el-button>
				<div class="ws-success" v-show="ws_lock">
					<div></div>
					已开启连接
				</div>
			</div>
			<el-divider></el-divider>
			<el-input v-model="add_user" placeholder="手动添加用户(回车键确认)" @keyup.enter.native="addUser"></el-input>
			<div id="prize-users">
				<el-tag v-for="user in users" closable @close="deleteUser(user)">
					<span v-text="user"></span>
				</el-tag>
			</div>
			<div class="users-length" v-text="'参与抽奖人数:' + users.length"></div>
			<el-divider></el-divider>
			<div id="title-info">
				<label class="el-form-item__label" for="title_name">标题名称</label>
				<el-input v-model="title_name" id="title_name" placeholder="请输入标题名称"></el-input>
			</div>
			<div id="prize-info">
				<label class="el-form-item__label" for="prize_name">奖品名称</label>
				<el-input v-model="prize_name" id="prize_name" placeholder="请输入奖品"></el-input>
				<label class="el-form-item__label" for="prize_length">中奖人数</label>
				<el-input v-model="prize_length" id="prize_length" placeholder="请输入中奖人数"></el-input>
				<el-button type="success" @click="dialogVisible=true">开始抽奖</el-button>
			</div>


			<el-dialog :title="title_name + ' - ' + prize_name + ' * ' + prize_length" :visible.sync="dialogVisible" :fullscreen="true"
			 :close-on-press-escape="false" :close-on-click-modal="false">
				<div class="dialog-tip" v-show="!prize_lock" @keydown="doPrize">按下空格开始\停止抽奖</div>
				<div id="prizeed-users">
					<el-tag v-for="user in prize_users" type="success">
						<span v-text="user"></span>
					</el-tag>
				</div>
			</el-dialog>
		</div>
	</body>
</html>

<script type="text/javascript">
	function getUrlParams() {
		const urlSearchParams = new URLSearchParams(window.location.search);
		const params = Object.fromEntries(urlSearchParams.entries());
		return params;
	}

	document.addEventListener('keyup', handleKeyUp);
	document.addEventListener('keydown', handleKeyDown);

	function handleKeyDown(event) {
		const keyCode = event.keyCode || event.which;
		if (keyCode == 32 && app.dialogVisible && app.prize_lock) {
			app.doPrizeDone();
		}
	}

	function handleKeyUp(event) {
		const keyCode = event.keyCode || event.which;
		if (keyCode == 32 && app.dialogVisible && !app.prize_lock) {
			app.doPrize();
		}
	}

	let interval;
	let app = new Vue({
		el: '#app',
		data: {
			ws_lock: false,
			prize_lock: false,
			room_id: '',
			add_user: '',
			prize_name: '',
			prize_length: '',
			title_name: '',
			users: [],
			dialogVisible: false,
			prize_users: [],

		},
		mounted() {
			setTimeout(() => {
				app.room_id = getUrlParams().room_id;;
			}, 0);
		},
		methods: {
			doWebsocket(e) {
				if (!app.ws_lock) {
					new Ex_WebSocket_UnLogin(app.room_id, (msg) => {
						if (msg.startsWith('type@=chatmsg')) {
							msg.split('/').forEach(m => {
								if (m.startsWith('nn@=')) {
									app.users.push(m.split('=')[1]);
								}
							});
						}
					});
				}
				app.ws_lock = true;
			},
			addUser() {
				app.users.push(app.add_user);
				app.add_user = '';
			},
			deleteUser(user) {
				this.users.splice(this.users.indexOf(user), 1);
			},
			doPrize() {
				interval = setInterval(() => {
					let shuffledArray = app.users.slice();
					for (let i = shuffledArray.length - 1; i > 0; i--) {
						const j = Math.floor(Math.random() * (i + 1));
						[shuffledArray[i], shuffledArray[j]] = [shuffledArray[j], shuffledArray[i]];
					}
					app.prize_users = shuffledArray.slice(0, app.prize_length);
				}, 20);
				app.prize_lock = true;
			},
			doPrizeDone() {
				clearInterval(interval);
			}
		}
	});
</script>
