#room-info,
#prize-info,
#title-info {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

#room-info>.el-input,
#prize-info>.el-input {
	width: 340px;
	margin-right: 20px;
}

* {
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

#title-info>.el-input {
	width: 840px;
}

.ws-success {
	display: flex;
	align-items: center;
}

.ws-success>div {
	width: 15px;
	height: 15px;
	background: green;
	border-radius: 50%;
	margin: 0 5px 0 20px;
}

#prizeed-users {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: flex-start;
	flex-direction: column;
}

#prize-users {
	margin-top: 20px;
	width: 100%;
	min-height: 300px;
	border: 1px solid #dcdfe6;
	border-radius: 4px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
}

.el-tag--light {
	margin: 5px;
	font-size: 16px;
	padding: 0 20px;
}

.users-length {
	color: #606266;
	margin: 20px 0;
}

.el-dialog__body {
	height: calc(100% - 120px);
}

.dialog-tip {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	color: #ffffff;
}

.el-dialog__body {
	background-image: linear-gradient(to right top, #ff6a65, #cb3d3a, #c32625, #b22324, #a12022, #972527, #8d3637, #a12022, #b22324, #c32625, #d42926, #e52d27);
	margin-top: 10px;
}

.prizeed-title {
	width: 100%;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	color: #ff0000;
	-webkit-text-stroke: 1.5px #ffff00;
	margin: 0;
}

.prizeed-prize {
	margin: 0;
	color: #f0f0f0;
	font-size: 20px;
	margin: 10px 0;
}

.prizeed-list {
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: center;
}

.prizeed-user {
	background: -webkit-linear-gradient(#F7E8C1, #F7E8C1, #E8B56E, #E8B56E);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 22px;
	font-weight: 600;
	margin: 10px 14px;
}
